{% extends 'MisCosas/base.html' %}

    {% block contenido %}
    <header id="headerusuarios">
        <h1>Usuarios</h1>
    </header>
    <section>
    <div class="row" id="usuario">
        {%for user in users%}
        <div class="col col-sm-3" id="tituloperfil">
            {%if user.image%}
                <img  class="fotouser" src="{{user.image.url}}" width="200" height="130"><br>
            {%else%}
                <p>No hay foto</p>
            {%endif%}
            <p><a href="/MisCosas/user/{{user.username}}">{{user.username}}</a><br>
            Items votados:{{user.itemsvotados.count}}<br>
            Items comentados:{{user.comentario_set.count}}</p>
        </div>
        {%endfor%}
    </div>
    </section>
    <p></p>


    {% endblock %}